// VARIABLES
$mainImage : url("../images/ezgif.com-gif-maker.gif");

/* COMMON */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  
  :focus {
    outline: 0;
  }
  
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
  }
  
  body {
    line-height: 1;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  ol, ul {
    list-style: none;
  }
  
  blockquote, q {
    quotes: none;
  }
  
  blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
  
  textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
  }
  
  audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
  }
  
  audio:not([controls]) {
    display: none;
    height: 0;
  }
  
  [hidden] {
    display: none;
  }
  
  html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
  
  a:focus {
    outline: thin dotted;
  }
  
  a:active, a:hover {
    outline: 0;
  }
  
  img {
    border: 0;
    -ms-interpolation-mode: bicubic;
  }
  
  figure {
    margin: 0;
  }
  
  form {
    margin: 0;
  }
  
  fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
  }
  
  legend {
    border: 0;
    padding: 0;
    white-space: normal;
    *margin-left: -7px;
  }
  
  button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
  }
  
  button, input {
    line-height: normal;
  }
  
  button, select {
    text-transform: none;
  }
  
  button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
    *overflow: visible;
  }
  
  button[disabled], html input[disabled] {
    cursor: default;
  }
  
  input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    *height: 13px;
    *width: 13px;
  }
  
  input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
  }
  
  input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  
  textarea {
    overflow: auto;
    vertical-align: top;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  html, button, input, select, textarea {
    color: #222;
  }
  
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  img {
    vertical-align: middle;
  }
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  textarea {
    resize: vertical;
  }
  
  .chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
  }
  
  // @font-face {
  //   font-family: "Roboto";
  //   src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  //   font-weight: normal;
  //   font-style: normal;
  //   font-display: swap;
  // }
  // @font-face {
  //   font-family: "Roboto";
  //   src: url("../fonts/Roboto-SemiBold.woff2") format("woff2"), url("../fonts/Roboto-SemiBold.woff") format("woff"), url("../fonts/Roboto-SemiBold.ttf") format("truetype");
  //   font-weight: 600;
  //   font-style: normal;
  //   font-display: swap;
  // }
  // @font-face {
  //   font-family: "Roboto";
  //   src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype");
  //   font-weight: 500;
  //   font-style: normal;
  //   font-display: swap;
  // }
  // @font-face {
  //   font-family: "Roboto";
  //   src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype");
  //   font-weight: bold;
  //   font-style: normal;
  //   font-display: swap;
  // }
  body,
  html {
    -webkit-font-smoothing: antialiased;
    font-family: "Roboto";
  }
  
  html {
    font-size: 0.5787037037vw;
    font-family: "Roboto";
    font-weight: normal;
    background: #fff;
    overflow-x: hidden;
  }
  @media screen and (max-width: 768px) {
    html {
      font-size: 2.6666666667vw;
    }
  }
  @media (min-width: 1728px) {
    html {
      font-size: 10px;
    }
  }
  
  a:active,
  a:focus {
    outline: none;
  }
  
  input,
  textarea,
  select,
  button,
  label {
    font-family: "Roboto";
  }
  
  .container {
    box-sizing: border-box;
    padding: 0 6.4rem;
    margin: 0 auto;
    max-width: 172.8rem;
  }

  @media screen and (max-width: 768px) {
    .container {
      padding: 0 1.6rem;
    }
  }

  .container--info_left {
    padding: 0 9.7rem 0 4.9rem;
    margin-bottom: 20rem;
  }
  @media screen and (max-width: 768px) {
    .container--info_left {
      padding: 0 1.6rem;
      margin-bottom: 0;
    }
  }

  /* !COMMON */

  #myVideo {
    position: absolute;
    right: 0;
    bottom: -74rem;
    width: 100vw;
    z-index: -1;
  }

.info-big--wrapper {
    padding: 60.3rem 0 13.4rem 0;
    background: $mainImage no-repeat;
    background-size: cover;
    margin-top: -5rem;
    position: relative;
    z-index: -1;
  }
  @media screen and (max-width: 768px) {
    .info-big--wrapper {
      padding: 52.5rem 0 13rem 0;
      background-image: $mainImage;
      background-position: center;
    }

    #myVideo {
      position: absolute;
      right: -26.5%;
      bottom: 1rem;
      z-index: -1;
      min-width: 150vw;
    }
  }


  .info-big {
    text-align: center;
  }
  .info-big .social {
    position: absolute;
    top: 45.9rem;
    left: 61.2rem;
  }

  .title__white {
    font-weight: 500;
    font-size: 9.9rem;
    line-height: 1.1;
    color: #fff;
  }
  @media screen and (max-width: 768px) {
    .title__white {
      font-size: 3.2rem;
    }
  }

  .txt__white {
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.8;
    color: #fff;
    max-width: 82rem;
    margin: 2.6rem auto 4.6rem;
    text-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
  }
  @media screen and (max-width: 768px) {
    .txt__white {
      font-size: 1.6rem;
      margin: 1.8rem auto 2.4rem;
      line-height: 1.6;
      text-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.7);
    }
  }

  .button {
    font-weight: bold;
    font-size: 2rem;
    line-height: 1;
    color: #fff;
    border-radius: 1.8rem;
    padding: 2.6rem 3rem;
    border: none;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s ease all;
    transform: scale(1);
    background: #019cfe;
    box-shadow: 0 1rem 2rem rgba(1, 156, 254, 0.33);
  }
  .button:hover {
    transform: scale(1.02);
    box-shadow: 0 2rem 4rem rgba(1, 156, 254, 0.3);
  }
  @media screen and (max-width: 768px) {
    .button {
      font-size: 1.6rem;
      padding: 2.15rem 3rem;
    }
  }

  .info-color__txt {
    border-radius: 2rem;
    background: rgba(203, 203, 255, 0.5);
    padding: 1.15rem 2.3rem;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    color: #5e5ffe;
    display: inline-block;
  }
  @media screen and (max-width: 768px) {
    .info-color__txt {
      font-size: 1.5rem;
      padding: 1.1rem;
    }
  }

  .info-big .info-color__txt {
    position: absolute;
    top: 53.4rem;
    right: 47.6rem;
  }

  .info-big::before {
    content: "";
    position: absolute;
    right: 6rem;
    bottom: 10rem;
    border-radius: 3.2rem;
    z-index: -1;
    background-color: dimgray;
    opacity: 0.5;
    height: 37rem;
    width: 90vw;
  }

  @media screen and (max-width: 768px) {
    .info-big::before {
      right: 1rem;
      bottom: 12rem;
      height: 25rem;
      width: 95vw;
    }
    .info-big .info-color__txt {
      top: 32rem;
      right: 20%;
    }
  }

  .info-color__txt--white {
    background: #fff;
    color: #0B2234;
  }


// INFO START BLOCK
.info-start {
  width: 92.8rem;
  padding: 3rem 4.7rem;
  background: #fff;
  box-sizing: border-box;
  border-radius: 3.2rem;
  box-shadow: 0 0.8rem 5rem rgba(34, 61, 116, 0.08);
  margin: -5rem auto 6.3rem;
  position: relative;
}
@media screen and (max-width: 768px) {
  .info-start {
    width: 34.3rem;
    padding: 3rem;
    margin-top: -3rem;
    text-align: center;
  }
}

.info-start__blocks {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .info-start__blocks {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .info-start__block:not(:last-child) {
    margin-bottom: 3.9rem;
  }
}
.info-start__block-icon {
  display: inline-block;
  background: url("../images/avatar.png") no-repeat;
  background-size: contain;
  width: 8.9rem;
  height: 5.1rem;
}
.info-start__block-icon--2 {
  background-image: url("../images/avatar_2.png");
}
.info-start__block-icon--3 {
  background-image: url("../images/avatar_3.png");
}
.info-start__block-desc {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.6;
  color: #1d3c55;
  margin: 2.2rem 0 1.1rem;
}
.info-start__block-txt {
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 1.1;
  color: #1d3c55;
}


// THIRD BLOCK Достанем 
// до вершины вместе! с Lerchek

.info__wrapper--pink {
  position: relative;
  // padding: 5.7rem 0 21.1rem 0;
  margin-bottom: 3rem;
}
@media screen and (max-width: 768px) {
  .info__wrapper--pink {
    padding-bottom: 7.5rem;
  }
}
.info__wrapper--pink::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 172.8rem;
  height: 108rem;
  background: url("../images/info_bg@2x.jpg") no-repeat;
  background-size: contain;
}
@media screen and (max-width: 768px) {
  .info__wrapper--pink::before {
    background-image: url("../images/info_bg_mob.jpg");
    width: 37.5rem;
    height: 57.8rem;
    top: 19rem;
  }
}

.info {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .info {
    flex-direction: column;
    position: relative;
  }
}

.info-img__block {
  width: 86rem;
  position: relative;
}
@media screen and (max-width: 768px) {
  .info-img__block {
    width: 100%;
    position: absolute;
    top: 22.7rem;
  }
}

.info-block {
  margin-top: 20rem;
  width: 74.9rem;
  position: relative;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .info-block {
    width: 100%;
    margin-top: auto;
  }
}

.title {
  font-weight: 500;
  font-size: 7.2rem;
  line-height: 1.19;
  color: #0B2234;
  margin-bottom: 5rem;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 3.2rem;
    max-width: 29rem;
    line-height: 1.31;
    margin: 0 auto 2rem;
  }
}

.title--small {
  font-size: 6.2rem;
}
@media screen and (max-width: 768px) {
  .title--small {
    font-size: 3.2rem;
  }
}

.title__avatar {
  display: inline-block;
  background: url("../images/avatar.png") no-repeat;
  background-size: contain;
  width: 8.9rem;
  height: 5rem;
  position: relative;
  top: 1.2rem;
}
@media screen and (max-width: 768px) {
  .title__avatar {
    width: 6.3rem;
    height: 3.6rem;
    top: 0.7rem;
  }
}

.title__color {
  position: relative;
  font-weight: bold;
  font-size: 9.9rem;
  line-height: 1;
  color: #29ACFF;
  display: inline-block;
  z-index: 5;
}
@media screen and (max-width: 768px) {
  .title__color {
    font-size: 4.2rem;
  }
}
.title__color::before {
  content: "";
  position: absolute;
  bottom: -10.5rem;
  left: 50%;
  transform: translate(-50%, 0);
  background: url("../images/line.png") no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  .title__color::before {
    bottom: -4.5rem;
  }
}

.info-block__list {
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .info-block__list {
    margin: 57rem 0 3rem;
    position: relative;
    z-index: 10;
  }
}

.info-block__item {
  padding: 2rem 3rem 2rem 6.4rem;
  border-radius: 2rem;
  background: rgba(255, 255, 255, 0.8);
  position: relative;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 1.66;
  color: #000;
  box-shadow: 0 0.8rem 5rem rgba(34, 61, 116, 0.08);
}
@media screen and (max-width: 768px) {
  .info-block__item {
    font-size: 1.4rem;
    padding: 1.3rem 2rem 1.3rem 5.1rem;
    line-height: 1.57;
  }
}
.info-block__item:not(:last-child) {
  margin-bottom: 1.2rem;
}
.info-block__item::before {
  content: "";
  position: absolute;
  top: 3rem;
  left: 3rem;
  background: url("../images/check.svg") no-repeat;
  background-size: contain;
  width: 1.6rem;
  height: 1.1rem;
}
@media screen and (max-width: 768px) {
  .info-block__item::before {
    width: 1.4rem;
    height: 1rem;
    left: 2.5rem;
  }
}

// FOURTH BLOCK PRIZES
.title--center {
  text-align: center;
}

.txt {
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.8;
  color: #000;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .txt {
    font-size: 1.6rem;
    display: block;
    max-width: 29rem;
    line-height: 1.6;
  }
}
.txt--center {
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

.txt--uppercase {
  text-transform: uppercase;
}

b {
  font-weight: bold;
}

.prize-big {
  text-align: center;
  padding: 30rem 0 5.2rem 0;
  // background: url("../images/big_prize_bg.jpg") no-repeat;
  // background-size: cover;
  border-radius: 0 0 10rem 10rem;
  margin: 27.2rem 0 5rem 0;
  position: relative;
}
@media screen and (max-width: 768px) {
  .prize-big {
    // background: none;
    border-radius: 0;
    padding: 0;
    margin: 4.5rem 0 8rem 0;
  }
  // .prize-big::before {
  //   content: "";
  //   position: absolute;
  //   bottom: 3rem;
  //   left: 50%;
  //   transform: translate(-50%, 0);
  //   background: url("../images/big_prize_bg_mob.png") no-repeat;
  //   background-size: contain;
  //   width: 54.3rem;
  //   height: 30.9rem;
  //   z-index: -1;
  // }
}

@media screen and (max-width: 768px) {
  .prize-big__blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 7rem;
  }
}

.prize-big__block {
  position: absolute;
}
@media screen and (max-width: 768px) {
  .prize-big__block {
    position: relative;
    margin-left: -1rem;
  }
}
.prize-big__block--1 {
  top: -11.7rem;
  left: 0;
}
@media screen and (max-width: 768px) {
  .prize-big__block--1 {
    top: auto;
    left: auto;
  }
}
.prize-big__block--2 {
  top: -20.2rem;
  right: 38.7rem;
}
@media screen and (max-width: 768px) {
  .prize-big__block--2 {
    top: auto;
    right: auto;
    margin: 5rem 0 8rem 0;
  }
}
.prize-big__block--2 .prize-big__block-name {
  margin-top: -10rem;
}
.prize-big__block--3 {
  top: -14.1rem;
  right: 2.1rem;
}
@media screen and (max-width: 768px) {
  .prize-big__block--3 {
    top: auto;
    right: auto;
  }
}
.prize-big__block--3 .prize-big__block-name {
  margin-top: -7rem;
}
.prize-big__block-name {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.7;
  color: #0b2234;
  margin-top: -4.7rem;
  text-align: center;
}
.prize-big__block-img--1 {
  width: 51.5rem;
}
@media screen and (max-width: 768px) {
  .prize-big__block-img--1 {
    width: 37.5rem;
  }
}
.prize-big__block-img--2 {
  width: 68rem;
}
@media screen and (max-width: 768px) {
  .prize-big__block-img--2 {
    width: 37.5rem;
  }
}
.prize-big__block-img--3 {
  width: 42.4rem;
}
@media screen and (max-width: 768px) {
  .prize-big__block-img--3 {
    width: 37.5rem;
  }
}

// CAROUSEL

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 10px;
  font-family: 'DM Sans', sans-serif;
  transition: background .4s ease-in;
}

input[type=radio] {
  display: none;
}

.card {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .5s ease;
  cursor: pointer;
}

.container-carousel {
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  height: 50vh;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 2.5rem 0rem 5rem;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

#item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2 {
  transform: translatex(-40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-1 {
  transform: translatex(40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-1, #item-2:checked ~ .cards #song-2, #item-3:checked ~ .cards #song-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
  
  img {
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
  }
}

// MARATHON BENEFITS
.container--eco {
  padding: 0 8rem 0 0;
}
@media screen and (max-width: 768px) {
  .container--eco {
    padding: 0 1.6rem 0;
  }
  .container--eco .title {
    max-width: 100%;
  }
}

.title--eco {
  font-weight: 400;
}

.eco {
  position: relative;
  margin-top: 9rem;
  min-height: 132.3rem;
  margin: 9rem 0 0;
}
@media screen and (max-width: 768px) {
  .eco {
    margin: 8rem 0;
  }
}
.eco::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url("../images/eco_bg.jpg") no-repeat;
  background-size: cover;
  width: 172.8rem;
  height: 132.3rem;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  .eco::before {
    background-image: url("../images/eco_bg_mob.jpg");
    width: 37.5rem;
    height: 61rem;
    top: -59rem;
    left: -1.6rem;
  }
}
.eco-blocks {
  width: 90rem;
  margin-left: auto;
  margin-top: 2rem;
}
@media screen and (max-width: 768px) {
  .eco-blocks {
    width: 100%;
    margin-top: 57.9rem;
    position: relative;
  }
  // .eco-blocks::before {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 50%;
  //   transform: translate(-50%, 0);
  //   // background: url("../images/eco_blocks_bg.png") no-repeat;
  //   background-size: contain;
  //   width: 59rem;
  //   height: 166.7rem;
  //   z-index: -1;
  // }
}
.eco-block {
  width: 100%;
  border-radius: 3.2rem;
  background: #fff;
  box-shadow: 0 0.8rem 5rem rgba(34, 61, 116, 0.08);
  padding: 4rem 3.1rem 4rem 6rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .eco-block {
    flex-direction: column;
    padding: 3rem 2.1rem;
  }
}
.eco-block:not(:last-child) {
  margin-bottom: 2rem;
}
.eco-block__info-desc {
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 1.2;
  color: #0b2234;
  margin-bottom: 2.2rem;
}
@media screen and (max-width: 768px) {
  .eco-block__info-desc {
    margin: 3.5rem 0 1.9rem;
    line-height: 1.45;
  }
}
.eco-block__info-list {
  padding-left: 3rem;
}
.eco-block__info-item {
  position: relative;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.62;
  color: #0b2234;
}
@media screen and (max-width: 768px) {
  .eco-block__info-item {
    font-size: 1.4rem;
  }
}
.eco-block__info-item:not(:last-child) {
  margin-bottom: 2.4rem;
}
@media screen and (max-width: 768px) {
  .eco-block__info-item:not(:last-child) {
    margin-bottom: 2.8rem;
  }
}
.eco-block__info-item::before {
  content: "";
  position: absolute;
  top: 0.7rem;
  left: -3rem;
  width: 1.5rem;
  height: 1rem;
  background: url("../images/check.svg") no-repeat;
  background-size: contain;
}
.eco-block__num {
  position: relative;
  font-family: Colus;
  font-size: 7.9rem;
  line-height: 1;
  color: #0b2234;
  margin-right: 6.1rem;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .eco-block__num {
    margin-right: 0;
  }
}
// .eco-block__num-icon {
//   display: inline-block;
//   background: url("../icons/one.svg") no-repeat;
//   background-size: contain;
//   width: 2.4rem;
//   height: 5.3rem;
// }
// .eco-block__num-icon--2 {
//   background-image: url("../icons/two.svg");
//   width: 3.8rem;
//   height: 5.4rem;
// }
// .eco-block__num-icon--3 {
//   background-image: url("../icons/three.svg");
//   width: 3.6rem;
//   height: 5.4rem;
// }
// .eco-block__num-icon--4 {
//   background-image: url("../icons/four.svg");
//   width: 4.3rem;
//   height: 5.2rem;
// }
.eco-block__num::before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translate(-50%, 0);
  width: 5.6rem;
  height: 5.6rem;
  background: #caff67;
  box-shadow: 0 1rem 2rem rgba(202, 255, 103, 0.33);
  border-radius: 50%;
  z-index: -1;
}

.button__center {
  text-align: center;
  margin: 7rem auto;
}

// BIG INFO #2
.info-big--wrapper_2 {
  margin-top: 0;
  padding: 65.8rem 0 14.2rem 0;
  background-image: url("../images/info_big_bg_2.jpg");
  background-position: center;
}
@media screen and (max-width: 768px) {
  .info-big--wrapper_2 {
    padding: 47.9rem 0 7.7rem 0;
    background-image: url("../images/info_big_bg_2_mob.jpg");
    background-position: top center;
  }
}
.info-big--wrapper_2 .title__white {
  font-size: 7.2rem;
}
@media screen and (max-width: 768px) {
  .info-big--wrapper_2 .title__white {
    font-size: 3.2rem;
  }
}
.info-big--wrapper_2 .social {
  top: 51.9rem;
}
.info-big--wrapper_2 .info-color__txt {
  top: 57.4rem;
}
@media screen and (max-width: 768px) {
  .info-big--wrapper_2 .info-color__txt {
    top: 43.4rem;
  }
}
.info-big--wrapper_2 .txt__white {
  max-width: 123rem;
}

.info-color__txt--blue {
  background: #019cfe;
  color: #fff;
}

// CAROUSLE REVIEWS
#review-item-1:checked ~ .cards #review-song-3, #review-item-2:checked ~ .cards #review-song-1, #review-item-3:checked ~ .cards #review-song-2 {
  transform: translatex(-40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#review-item-1:checked ~ .cards #review-song-2, #review-item-2:checked ~ .cards #review-song-3, #review-item-3:checked ~ .cards #review-song-1 {
  transform: translatex(40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#review-item-1:checked ~ .cards #review-song-1, #review-item-2:checked ~ .cards #review-song-2, #review-item-3:checked ~ .cards #review-song-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
  
  img {
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
  }
}

// PRICES
.txt--price {
  max-width: 94.7rem;
}

.prices {
  display: flex;
  width: 110rem;
  margin: 4rem auto 16rem;
  position: relative;
}
@media screen and (max-width: 768px) {
  .prices {
    width: 100%;
    flex-direction: column;
    margin: 3.7rem auto 8rem;
  }
}
// .prices::before {
//   content: "";
//   position: absolute;
//   top: 10rem;
//   left: 50%;
//   transform: translate(-50%, 0);
//   background: url("../images/prices_bg.jpg") no-repeat;
//   background-size: contain;
//   width: 172.8rem;
//   height: 108rem;
// }

.price {
  width: 50%;
  position: relative;
  border-radius: 3.2rem;
  background: #fff;
  box-shadow: 0 0.8rem 5rem rgba(34, 61, 116, 0.08);
}
@media screen and (max-width: 768px) {
  .price {
    width: 100%;
  }
}
.price:not(:last-child) {
  margin-right: 2rem;
}
@media screen and (max-width: 768px) {
  .price:not(:last-child) {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

.price__box {
  position: absolute;
  top: 17rem;
  left: -8rem;
  background: url("../images/price_box.png") no-repeat;
  background-size: contain;
  width: 16.1rem;
  height: 15.3rem;
}
@media screen and (max-width: 768px) {
  .price__box {
    width: 9.1rem;
    height: 8.7rem;
    top: 13rem;
    left: -2rem;
  }
}
.price__box-2 {
  position: absolute;
  top: 25.7rem;
  right: -7.5rem;
  background: url("../images/price_box_2.png") no-repeat;
  background-size: contain;
  width: 12.1rem;
  height: 13.3rem;
}
@media screen and (max-width: 768px) {
  .price__box-2 {
    width: 8.3rem;
    height: 9.1rem;
    top: 15rem;
    right: -2rem;
  }
}

.price__top {
  padding: 4rem;
  border-radius: 3.2rem 3.2rem 0 0;
  background: linear-gradient(-216deg, #fff 0%, #faf3f2 52.49%, #fff 100%);
  text-align: center;
}
@media screen and (max-width: 768px) {
  .price__top {
    padding: 4.2rem 4rem 6.4rem;
  }
}
.price__top--2 {
  background: linear-gradient(-216deg, #fff 0%, #e6eef4 52.49%, #fff 100%);
}

.price__logo {
  width: 11.2rem;
  height: 1.8rem;
  background: url("../images/checkfit.svg") no-repeat;
  background-size: contain;
  display: inline-block;
}

.price__name {
  display: block;
  width: 24.1rem;
  height: 4.3rem;
  background-size: contain;
  margin: 3.2rem auto 3.8rem;
  font-weight: 600;
  color: #019cfe;
  text-transform: uppercase;
  font-size: 4rem;
}

.price__cost {
  font-weight: bold;
  font-size: 8.1rem;
  line-height: 1;
  color: #0b2234;
}

.price-info {
  padding: 5rem 5rem 4rem 7rem;
}
@media screen and (max-width: 768px) {
  .price-info {
    padding: 4rem 2rem 3rem;
  }
}
.price-info__list {
  margin-bottom: 7rem;
}
@media screen and (max-width: 768px) {
  .price-info__list {
    margin-bottom: 2.4rem;
    padding-left: 3rem;
  }
}
.price-info__item {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.87;
  color: #0b2234;
  position: relative;
}
.price-info__item:not(:last-child) {
  margin-bottom: 1.8rem;
}
@media screen and (max-width: 768px) {
  .price-info__item:not(:last-child) {
    margin-bottom: 0.7rem;
  }
}
.price-info__item::before {
  content: "";
  position: absolute;
  top: 0.8rem;
  left: -3rem;
  background: url("../images/check.svg") no-repeat;
  background-size: contain;
  width: 1.5rem;
  height: 1rem;
}

.footer-block__txt {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.1;
  color: #1D3C55;
}
@media screen and (max-width: 768px) {
  .footer-block__txt {
    font-size: 1.6rem;
  }
}
.footer-block__txt:hover {
  text-decoration: none;
}
.footer-block__txt a {
  color: #019CFE;
}

// FOOTER
.footer {
  margin-top: 1rem;
  padding-bottom: 2.5rem;
}
@media screen and (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.footer-block {
  margin-top: 2.3rem;
  display: flex;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .footer-block {
    flex-direction: column;
    align-items: center;
    margin: 3rem 0;
  }
}
.footer-block__links {
  margin-left: auto;
}
@media screen and (max-width: 768px) {
  .footer-block__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4.3rem auto 0;
  }
}
@media screen and (max-width: 768px) {
  .footer-block__links .footer-block__txt {
    font-size: 1.3rem;
    color: #A8AFB4;
  }
}
.footer-block__links .footer-block__txt:not(:last-child) {
  margin-right: 6.4rem;
}
@media screen and (max-width: 768px) {
  .footer-block__links .footer-block__txt:not(:last-child) {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}
.footer-block__txt {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.1;
  color: #1D3C55;
}
@media screen and (max-width: 768px) {
  .footer-block__txt {
    font-size: 1.6rem;
  }
}
.footer-block__txt:hover {
  text-decoration: none;
}
.footer-block__txt a {
  color: #019CFE;
}

// ANIMATIONS
.transform {
  transform: translate(0, 20rem);
  transition: 1s ease transform;
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .transform {
    transform: translate(0, 15rem);
  }
}
.transform.animated {
  transform: none;
  opacity: 1;
}

.animated .info-img__block .info-img__block-product:after {
  content: "";
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  background: linear-gradient(to top, rgba(229, 172, 142, 0), rgba(255, 255, 255, 0.3) 50%, rgba(229, 172, 142, 0));
  transform: rotateZ(-60deg) translate(-5em, 7.5em);
  opacity: 0;
  animation: sheens 7s infinite;
  animation-iteration-count: 3;
  z-index: 1;
}